body{
    text-align: center;
}
.QuestionNo2 {
    text-align: center;
}
.QuestionNo3 td{
    padding:0 10px;
    
}
.hidden{
    display: none;
}
.None{
    text-align: center;
    background-color: royalblue;
    color: white;
    margin: 0 50px;
}
.zoom{
    height: 50%;
    position:absolute ;
    left: 15%;
    top: 10%;
}